<footer class="footer">
  <div class="footer__helps">
    <div class="grid wide">
      <div class="row">
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">Chăm sóc khách hàng</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                Trung tâm trợ giúp
              </a>
            </li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                BZN mall
              </a>
            </li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                Hướng dẫn mua hàng
              </a>
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">Giới thiệu</h3>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="" class="footer__list-link">
                Giới thiệu
              </a></li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                Tuyển dụng
              </a>
            </li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                Điều khoản
              </a>
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">Theo dõi trên</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">Danh mục</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                Di động
              </a>
            </li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                TV & AV
              </a>
            </li>
            <li class="footer__list-item">
              <a href="" class="footer__list-link">
                Màn hình thông minh
              </a>
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-8 c-12">
          <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
          <div class="footer__apps">
            <div class="footer__apps-qrcode">
              <a class="footer__apps-googleplay-link" href="">
                <img class="footer__apps-qrcode-img" src="../../assets/img/qr-code.png" alt="">

              </a>
            </div>
            <div class="footer__apps-download">
              <a class="footer__apps-googleplay-link" href="">
                <img class="footer__apps-download-img" src="../../assets/img/google-play.png" alt="">
              </a>
              <a class="footer__apps-appstore-link" href="">
                <img class="footer__apps-download-img" src="../../assets/img/app-store.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__about">
    <div class="footer__about-wrapper">
      <ul class="footer__about-policy">
        <li class="footer__about-policy-term">
          <a href="" class="footer__about-link">
            CHÍNH SÁCH BẢO MẬT
          </a>
        </li>
        <li class="footer__about-policy-term">
          <a href="" class="footer__about-link">
            QUY CHẾ HOẠT ĐỘNG
          </a>
        </li>
        <li class="footer__about-policy-term">
          <a href="" class="footer__about-link">CHÍNH SÁCH VẬN CHUYỂN
          </a>
        </li>
        <li class="footer__about-policy-term">
          <a href="" class="footer__about-link">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
          </a>
        </li>
      </ul>
      <div class="footer__about-policy-registered">
        <img class="footer__about-policy-registered-img" src="../../assets/img/registered-policy.png" alt="">
      </div>
      <div class="footer__about-company-name">Công ty TNHH BZN</div>
      <p class="footer__infor footer__about-address">Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc
        Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.bzn.vn</p>
      <p class="footer__infor footer__about-representation">Chịu Trách Nhiệm Quản Lý Nội Dung: Phan Phúc Tín - Điện thoại liên hệ: 024
        73081221 (ext 4678)
      </p>
      <p class="footer__infor footer__about-tax-number">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu
        ngày 10/02/2015
      </p>
      <p class="footer__infor footer__about-copyright">© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
    </div>
  </div>
</footer>